<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <div class="outer w-screen h-content p-10 bg-zinc-900 text-white overflow-x-hidden">
        <div class="logout flex justify-end w-full">
            <a class="p-2 rounded-md bg-red-600" href="/logout">logout</a>
        </div>
     <div class="greet">
      <h3 class="text-white text-4xl mb-1">Hello, <%= user.name %> </h3>  
      <h5 class="text-white mb-3">Share your thoughts with the world</h5>
      <form action="/post" method="post">
      <textarea name="content" class="p-3 h-32 w-9/12 bg-zinc-800  rounded-md outline-none resize-none" placeholder="What's on your mind ?"></textarea>
      <input class="mt-2 p-3 block bg-blue-600 rounded-md" type="submit" value="Create new post" />
    </form>
     </div>

  
        <h3 class="mt-10 text-zinc-600 text-sm"> Your posts.</h3>

        <div class="posts mt-2 mb-2">
            <% user.posts.reverse().forEach( (post)=>{ %>

                <div class="post mb-2 h-4/5 w-9/12 bg-zinc-800 rounded-md">
                    <div class="username pl-4 pt-4 pb-1">
                        <h3 class="text-blue-500">@<%= user.username %></h3>
                    </div>
                    <div class="content pl-4 pb-2 h-3/5">
                        <p class="binding-tight"><%= post.content %></p>
                    </div>
                    <div class="likeNum pl-4"><%= post.likes.length %> likes</div>
                    <div class="tasks flex gap-4 pl-4 pt-2 pr-4 pb-4">
                        <a class="like text-blue-500 cursor-pointer" href="/like/<%= post._id %>">
                            <%= post.likes.indexOf(user._id) === -1 ? "Like" : "Unlike" %>  
                        </a>
                        <!-- user._id came from profile route where we sent the wholeuser -->
                        <a class="edit text-zinc-600 cursor-pointer" href="/edit/<%= post._id %>">edit</a>
                    </div>
                </div>

            <% }) %>
        </div>

    </div>
    
</body>
</html>